/*font*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*common*/
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none; }
#wrap { min-width:1250px; }
#wrap,input,button { font-family: 'GmarketSansMedium'; letter-spacing:-.5px; }

.inner { width:1250px; margin:0 auto; }

/*------------
	header
------------*/
header {position:fixed; top:0; left:0; z-index:999; padding:0 30px; width:100%; height:120px; box-sizing:border-box; border-bottom:1px solid rgba(255,255,255,0.2);}
header::after { content:''; display:table; clear:both; }
header div { float:left; }
header div.callArea { float:right; padding:0 0 0 70px; margin:32px 0; color:#fff; background:url('../_img/callIco.png') no-repeat 0% 0%; }
header div.callArea .callNumber h1 { font-size:28px; }
header .gnb ul::after { content:''; display:table; clear:both;  }
header .gnb ul li { float:left; line-height:120px; }
header .gnb ul li a { margin:0 30px; font-size:19px; color:#fff; position:relative; }
header .gnb ul li a:after { content:''; position:absolute; top:22px; left:0; right:100%; background:#ffd4d4; width:0%; height:2px; transition:0.3s;}
header .gnb ul li a:hover:after {width:100%; right:100%; }
header .gnb ul li a.active { border-bottom:2px solid #ffd4d4; }
header .logo { position:absolute; top:20px; left:calc(50% - 50px); }

body.scrolled header { background:linear-gradient(45deg, #e93b32, #df443b); border:0; }

/*------------
	contents
------------*/

/*MainBnr*/
.mainBnrArea { padding-top:120px; height:850px; background:url('../_img/mainBg.png') no-repeat 50% 50%; background-size:cover; }
.mainBnrArea .inner { padding:100px 0; height:687px; position:relative; }
.mainBnrArea .inner .mainBnrIco { position:absolute; top:30px; left:-100px;  z-index:111; animation-name:heartbeat; animation-duration:1s; animation-iteration-count:infinite; }
.mainBnrArea .inner .mainMenIco { position:absolute; bottom:30px; left:42%;  z-index:333;}
.mainBnrArea .inner .mainBnrCont { position:absolute; z-index:222; width:100%; }
.mainBnrArea .inner .mainBnrCont:after { content:''; display:table; clear:both; }

.mainBnrArea .inner .mainBnrCont .mainBnrLeft { float:left;  font-size:22px;}
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .tit { color:#fff; text-shadow:4px 4px 0 rgba(0,0,0,0.1); }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .tit h1 { font-size:50px; margin-bottom:10px; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .tit h1 span { color:#ffd942; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox { background:#fff; border-radius:20px; padding:35px; margin:25px 0; font-size:20px; box-shadow:5px 5px 10px rgba(0,0,0,0.1);}
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="text"] { width:100%; margin:5px 0 15px 0; padding:13px 0; background:#eee; font-size:16px; text-indent:13px; border:0; border-radius:10px; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="text"]:placeholder { color:#aaa; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="checkbox"] { display:none; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="checkbox"] + label { font-size:17px; position:relative; padding-left:25px; cursor:pointer; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="checkbox"] + label span { position:absolute; top:0; left:0; width:17px; height:17px; background:url('../_img/checkbox_off.png') no-repeat; display:inline-block; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox input[type="checkbox"]:checked + label span { width:17px; height:17px; background:url('../_img/checkbox_on.png') no-repeat; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox .agreeArea { margin-bottom:15px; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox .agreeArea:after { content:''; display:table; clear:both; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox .agreeArea .checks { display:inline-block; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox .agreeArea .agreeFormBtn { margin-top:5px; float:right; background:#444; color:#fff; font-size:12px; display:inline-block; padding:2px 7px; cursor:pointer; }
.mainBnrArea .inner .mainBnrCont .mainBnrLeft .formBox button { background:#d50527; color:#fff; width:100%; border:0; border-radius:10px; padding:12px 0; font-size:22px; cursor:pointer; }

.mainBnrArea .inner .mainBnrCont .mainBnrRight { float:right; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight h1 { font-size:45px; margin-bottom:10px; color:#fff; text-shadow:4px 4px 0 rgba(0,0,0,0.1); text-align:center; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight h1 span { color:#ffd942; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea { width:450px; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li {margin:6px 0; background:#fff; height:45px; line-height:50px; border-radius:10px; overflow:hidden; box-shadow:5px 5px 10px rgba(0,0,0,0.1);}
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li dl { width:440px;  }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li dl:after { content:''; display:table; clear:both; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li dl dt { float:left; background:#ffd942; width:20%; text-align:center; font-weight:600; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li dl dd { float:left;  text-indent:15px; width:60%; width:264px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.mainBnrArea .inner .mainBnrCont .mainBnrRight .consultArea ul li dl dd:last-child { float:right; width:20%; text-indent:0; text-align:center;}

/*countArea*/
.countArea { padding:50px 0; background:url('../_img/countBg.png') no-repeat 50% 50%; background-size:cover; }
.countArea .inner { position:relative; }
.countArea .inner .countTit { position:absolute; top:50%; left:calc(50% - 120px); background:#000; width:240px; height:45px; line-height:49px; border-radius:20px; color:#fff; font-size:22px; text-align:center; }
.countArea .inner ul { content:''; display:table; clear:both; width:100%; }
.countArea .inner ul li { float:left; width:50%; text-align:center; font-size:27px; font-weight:600; color:#fff; text-shadow:4px 4px 0 rgba(0,0,0,0.5);}
.countArea .inner ul li dl { content:''; clear:both; display:inline-block;  }
.countArea .inner ul li dl dd { float:left; width:60px; height:65px; line-height:75px; background:url('../_img/countingIco.png') no-repeat 0% 0%;   text-align:center; font-size:45px;}
.countArea .inner ul li p {  margin-bottom:20px; letter-spacing:3px; }

/*MainCont*/
.mainContArea { padding:50px 0; }
.mainContArea .inner ul:after { content:''; display:table; clear:both; }
.mainContArea .inner ul li { margin:0 16px 16px 0; float:left; padding:25px 30px; width:300px; height:250px; box-sizing:border-box; border-radius:10px; }
.mainContArea .inner ul li:nth-child(4n) { margin:0; }
.mainContArea .inner ul li h2 { color:#222; }
.mainContArea .inner ul li h2 span { color:#d50527; }
.mainContArea .inner ul li p { color:#333; font-size:18px; line-height:24px; margin-top:8px;}
.mainContArea .inner ul li.point { box-shadow:3px 3px 10px rgba(0,0,0,0.3); }
.mainContArea .inner ul li.point h2 { font-size:25px; color:#fff; }
.mainContArea .inner ul li.point h2 span { color:#ffd942; }
.mainContArea .inner ul li.point p { color:#fce6dd; }
.mainContArea .inner ul li:nth-child(1) { background:url('../_img/mcIco01.png') no-repeat 88% 88% #d50527; }
.mainContArea .inner ul li:nth-child(2) { background:url('../_img/mcIco02.png') no-repeat 88% 88% #fce6dd; }
.mainContArea .inner ul li:nth-child(3) { background:url('../_img/mcIco03.png') no-repeat 90% 88% #d50527; }
.mainContArea .inner ul li:nth-child(4) { background:url('../_img/mcIco04.png') no-repeat 88% 88% #fce6dd; }
.mainContArea .inner ul li:nth-child(5) { background:url('../_img/mcIco05.png') no-repeat 88% 88% #fce6dd; }
.mainContArea .inner ul li:nth-child(6) { background:url('../_img/mcIco06.png') no-repeat 88% 88% #d50527; }
.mainContArea .inner ul li:nth-child(7) { background:url('../_img/mcIco07.png') no-repeat 88% 88% #fce6dd; }
.mainContArea .inner ul li:nth-child(8) { background:url('../_img/mcIco08.png') no-repeat 88% 88% #d50527; }
.mainContArea .inner ul li:nth-child(8) p { background:url('../_img/mcCall.png') no-repeat 0 0; font-size:30px; font-weight:600; padding-left:45px; line-height:45px; }

/*-----------
	footer
-----------*/
footer { background:#303030; text-align:center; }
footer .ftlogo { padding:30px 0; border-bottom:1px solid #555; }
footer .ftInfo { padding:30px 0; }
footer .ftInfo .infoNav ul { margin:0 auto; display:inline-block; }
footer .ftInfo .infoNav ul:after { content:''; display:table; clear:both; }
footer .ftInfo .infoNav ul li { float:left; line-height:40px; text-align:center; }
footer .ftInfo .infoNav ul li a { margin:0 20px; color:#fff; font-size:16px; }
footer .ftInfo .info:after { content:''; display:table; clear:both; }
footer .ftInfo .info { display:inline-block; }
footer .ftInfo .info p { float:left; margin:0 10px; text-align:center; color:#aaa; font-size:15px; }
footer .ftInfo .info p:last-child { clear:both; width:100%; }
footer .ftInfo .copyright { font-size:13px; color:#777; margin-top:10px; }

/*animation css*/
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
